[submodule "chesscli"]
	path = chesscli
	url = https://github.com/ekremarmagankarakas/chesscli
[submodule "damacli"]
	path = damacli
	url = https://github.com/ekremarmagankarakas/damacli
[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = https://github.com/ArthurSonzogni/ftxui
