[submodule "chesscli"]
	path = chesscli
	url = git@github.com:ekremarmagankarakas/chesscli.git
[submodule "damacli"]
	path = damacli
	url = git@github.com:ekremarmagankarakas/damacli.git
[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = https://github.com/ArthurSonzogni/ftxui
